<!-- not signed in -->

<% if (!user) {%>


    <div class="jumbotron horizontal-center vertical-center ">
        <div class="text-center">
            <h1 class="display-4">Welcome to Dig</h1>
            <p class="lead">Dig helps you organize your Spotify playlists.</p>
            <hr class="my-4">
        </div>


        <div class="col-md-6 mx-auto">
            <h3 class="services text-center">Current services</h3>
            <ul class="list-group">
                <% serviceDescriptions.forEach(service=> { %>

                    <li class="list-group-item">
                        <%=service%>
                    </li>
                    <% }) %>

            </ul>

        </div>

        <div class="text-center">
            <a class="btn btn-primary btn-lg mt-3 " href="/auth/spotify" role="button" id="login">Login</a>
        </div>

    </div>

    <!-- signed in -->
    <%} else{ %>

        <div class="signed_in_container container-fluid">
            <h2 class="row justify-content-md-center">Hello, <%= user.displayName%>.</h2>

            <div class="services">

                <h3 class="row justify-content-md-center mt-4"> Your Services: </h3>

                <div class="enabledServices">

                    <div class="row justify-content-md-center">

                        <%enabledServices.forEach( (service, enabledServiceCount)=> { %>

                            <% if (enabledServiceCount % 3==0 && enabledServiceCount !=0) { %>
                    </div>

                    <div class="row justify-content-md-center">

                        <%}%>

                            <div class="col col-lg-2">
                                <div class="card bg-success my-3" style="max-width: 18rem;">

                                    <div class="card-body text-center">
                                        <h5 class="card-title">
                                            <%=service.name%>
                                        </h5>
                                        <p class="card-text text-left">
                                            <%=service.description%>
                                        </p>

                                        <%if (service.type=="redirect" ){%>

                                            <a href="/services/<%=service.serviceRoute%>/enable"
                                                class="btn btn-primary m-1">Edit
                                                
                                            </a>
                                            <button id="/services/<%=service.serviceRoute%>/disable"
                                                class="btn btn-danger disable_service m-1"> Disable
                                                
                                            </button>
                                            <% } else if (service.type=="toggle" ){ %>
                                                <button id="/services/<%=service.serviceRoute%>/toggle"
                                                    class="btn btn-danger toggle_service"> Disable
                                                
                                                </button>
                                                <%}%>

                                    </div>
                                </div>

                            </div>
                            <% });%>
                    </div>
                </div>




                <hr>

                <h3 class="row justify-content-md-center mt-4"> Available Services: </h3>

                <div class="disabledServices">

                    <div class="row justify-content-md-center">


                        <%disabledServices.forEach( (service, disabledServiceCount)=> { %>

                            <% if (disabledServiceCount % 3==0 && disabledServiceCount !=0) { %>
                    </div>
                    <div class="row justify-content-md-center">

                        <%}%>
                            <div class="col col-lg-2">
                                <div class="card bg-info my-3" style="max-width: 18rem;">

                                    <div class="card-body text-center">
                                        <h5 class="card-title">
                                            <%=service.name%>
                                        </h5>

                                        <%if (service.type=="redirect" ){%>
                                            <p class="card-text text-left">
                                                <%=service.description%>
                                            </p>
                                            <a href="/services/<%=service.serviceRoute%>/enable"
                                                class="btn btn-primary">Enable
                                                <%=service.name%>
                                            </a>
                                            <% } else if (service.type=="toggle" ){ %>
                                                <button id="/services/<%=service.serviceRoute%>/toggle"
                                                    class="btn btn-danger toggle_service"> Enable
                                                    <%=service.name%>
                                                </button>
                                                <%}%>

                                    </div>
                                </div>

                            </div>

                            <% });%>
                    </div>
                </div>
            </div>
        </div>


        </div>


        <script src="/public/javascripts/index.js" type="text/javascript"></script>


        <% } %>