<% if (!user) {%>
<h2>Welcome! Please log in.</h2>
<p><a href="/auth/spotify">Login</a></p>
<%} else{ %>
<h2>Hello, <%= user.display_name%>.</h2>

<h3> Your Services: <br></h3>


<div class="enabled_services">

    <%enabled_services.forEach( service => { %>

    <div class="card" style="max-width: 18rem;">

        <div class="card-body">
            <h5 class="card-title"><%=service.name%></h5>
            <p class="card-text"><%=service.description%></p>
            <a href="/enable_<%=service.name.toLowerCase()%>" class="btn btn-primary">Edit <%=service.name%></a>
            <a href="#" class="btn btn-primary">Disable <%=service.name%></a>
        </div>
    </div>

</div>

<% });%>

<hr>
<h3> Available Services: <br></h3>
<div class="disbled_services">

    <%disabled_services.forEach( service => { %>

    <div class="card" style="max-width: 18rem;">

        <div class="card-body">
            <h5 class="card-title"><%=service.name%></h5>
            <p class="card-text"><%=service.description%></p>
            <a href="/enable_<%=service.name.toLowerCase()%>" class="btn btn-primary">Enable <%=service.name%></a>

        </div>
    </div>

</div>

<% });%>

<script src="jquery-3.4.1.min.js"></script>
<script src="/public/javascripts/index.js" type="text/javascript"></script>


<% } %>